body {
    margin: 0; /* all margins of the fours sides will be set to 0 */
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    color: #40514E; 
    
}

p{
    line-height: 2;
}

a{
    color:#04393b; 
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px; 
    text-decoration: none;

}

a:hover{
    color: #EAF6F6; 
}

table{
   margin-left: auto;
   margin-right: auto;
}

hr{
    border : dotted #2bb2b2 6px; 
    border-bottom : none; 
    width: 4%; 
    margin : 100px auto; 
   
}

h1{
    margin: 50px auto 0 auto;
    padding-top: 30px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF; 
    line-height: 2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF; 
    font-weight: normal;
    padding-bottom: 10px ;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E
}

.date{
   font-style: italic ;
}

.myPicture{
    width : 20%; 
    border-radius: 100%;
     /* width: 210px;
     height: 300px; */
}

.top-cloud{
    position: absolute; 
    right : 40px; 
    top : 50px; 
}

.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left: 250px; 
}

.intro{
    width:30%; 
    margin: auto; 
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    margin-top: 50px; 
    margin : 100px auto; 
}


.book{
    width:150px; 
}

.educationDescription{
    margin-top: 100px;
    text-align: left;
    line-height: 50px;
}

.computer{
    width: 25%; 
    margin-right:30px; 
    float: left; 
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}


.projet-png{
    width: 25%;
    float:right; 
}

.experience-row{
    width: 50%;
    margin: 0px auto 0px auto;
    text-align: left;
    line-height: 2;
    
}

.work{
    margin-top: 50px;
    margin-bottom: 0;
}

.work-png{
    float: right; 
    width: 25%;
    margin-left: 30px;
    
}

.volunteer{
    margin-top: 50px;
    margin-bottom: 0 ;
    
}

.volunteer-png{
    clear: left; 
    width: 25%;
    margin-left: 30px;
}

.bottom-container{
   background-color: #66BFBF;
   padding : 50px 0 20px; 
   
}

.copyright{
    color:#EAF6F6; 
    font-size: 0.75rem;
    padding: 20px 0; 
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
